.hidden-webcam {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.videoPlayer{
  margin-top: 100px;
  display: flex;
  align-items: center; /* 垂直置中 */
  justify-content: center; /* 水平置中 */
  flex-direction: column;
}