.hidden-webcam {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.margin{
  height: 100px;
}

.videoPlayer{
  width: 100vw;
  height: 100vw;
  background-color: black;
  display: flex;
  align-items: center; /* 垂直置中 */
  flex-direction: column;
}
.videoPlayer h1{
  color: white;
}